<div class="card" style="min-height: 100%;">
  <div class="row g-0">
    <div class="col-md-4">
      <div class="card-body">
        <ul class="list-unstyled">
          <li>
            <i class="fa-solid fa-layer-group fa-fw" title="family"></i>
            {{ font.family }}
          </li>
          <li>
            <i class="fa-solid fa-up-right-and-down-left-from-center fa-fw" title="size"></i>
            {{ font.width }}x{{ font.height }}
          </li>
          <li>
            <i class="fa-solid fa-file fa-fw" title="license"></i>
            <a href="{{ font.license.url }}">{{ font.license.spdx }}</a>
          </li>
        </ul>
        <a
          href="./fonts/{{font.encoding}}/{{ font.family }}_{{ font.width }}x{{ font.height }}.fff"
          class="btn btn-light"
          download
        >
          <i class="fa-solid fa-download"></i>
          download
        </a>
      </div>
    </div>
    <div class="col">
      <img
        src="./images/{{font.encoding}}/{{ font.family }}_{{ font.width }}x{{ font.height }}.png"
        class="preview rounded-end"
        {% if font.width == 1 %}style="min-width: auto; min-height: 100%"{% endif %}
      >
    </div>
  </div>
</div>
