{% extends "base.html.j2" %}
{% block body %}
  <h1 class="text-center">
    <a href="/">Fonts for Firefly Zero</a> / {{ encoding.title }}</a>
  </h1>
  <div class="row row-cols-1 row-cols-md-2 g-1">
    {% for font in fonts %}
      <div class="col">
        {% include "card.html.j2" %}
      </div>
    {% endfor %}
  </div>
{% endblock %}
