{% extends "base.html.j2" %}
{% block body %}
  <div class="row row-cols-2 row-cols-md-4 g-1">
    {% for encoding in encodings %}
      <div class="col">
        <a href="{{ encoding }}.html" class="btn btn-light" style="width: 100%">
          {{ encoding }}
        </a>
      </div>
    {% endfor %}
  </div>
{% endblock %}
